/*general*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
    background-color: darkgrey;
}

/*layout*/

.title-container {
    display: flex;
    justify-content: center;
    align-items: middle;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
}

.detail-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 2.5vh;
    margin: 3vh;
}

/*styling*/

@media (min-width: 992px) {
    /**/
}