/*general*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
    background-color: darkgrey;
}

/*layout*/

.title-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding-top: 2.5vw;
  padding-bottom: 2.5vw;
}

.title-alignment {
  text-align: center;
}

.main-alignment {
  text-align: center;
}

.input-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding-top: 15px;
}

.input-bar {
    grid-row: 1 / span 1;
    grid-column: 2 / span 2;
}

.add-button {
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
}

.search-button {
    grid-row: 2 / span 1;
    grid-column: 3 / span 1;
}

.task-container {
    display: flex;
    flex-direction: column;
    margin: 5vh;
}

.task-alignment {
    text-align: left;
}
.action-alignment {
    text-align: right;
}

.button-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.reset-button {
    grid-row: 1 / span 1;
    grid-column: 2 / span 2;
}

.contact-button {
    grid-row: 2 / span 1;
    grid-column: 2 / span 2;
}

.detail-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 2.5vh;
  margin: 3vh;
}

/*styling*/

.title-styling {
    font-size: 3rem;
    background-color: grey;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .title-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 2.5vw;
  }
  
  .title-alignment {
    grid-column: 2 / span 1;
    text-align: center;
  }
  
  .main-alignment {
    grid-column: 3 / span 1;
    text-align: right;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* here */
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* here */
}